.container {
  margin: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.h2-card {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
}
.card-trip {
  background-color: white;
  width: 300px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  border-radius: 5px;
  text-align: center;
  margin: 0 30px;
}
.card-trip > img {
  width: 100%;
  height: 300px;
  background-size: cover;
}
.card-content {
  align-items: flex-end;
  padding: 20 20px;
  position: relative;
}
